<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Character Set -->
    <meta charset="UTF-8" />

    <!-- Viewport Settings -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Page Title -->
    <title>VizAlgoFlow: Algorithm Visualizer</title>

    <!-- favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/icons/favicon-192x192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/styles/components/footer.css">


    <!-- Additional Meta Tags -->
    <meta name="description"
        content="VizAlgoFlow is an interactive platform for visualizing data structures and algorithms. Explore arrays, linked lists, stacks, queues, trees, graphs, hashmaps, and algorithms like sorting (quick sort, merge sort, bubble sort), searching (binary search, linear search), recursion, dynamic programming, and graph traversals (DFS, BFS). Ideal for students, developers, and educators looking to learn through step-by-step animations and customizable inputs." />
    <meta name="keywords" content="algorithms, data structures, visualization, web development, sorting, searching" />
    <meta name="author" content="Robin Sukhdeve" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>

<body>

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Footer Component</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,87.5,300..800;1,87.5,300..800&family=Rye&display=swap"
            rel="stylesheet">

    </head>

    <body>
        <footer class="footer">
            <div class="container">
                <a href="#" class="brand">VizAlgoFlow</a>

                <ul class="menu">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../pages/about.html">About</a></li>
                    <li><a href="../pages/contact.html">Contact</a></li>
                </ul>

                <ul class="media-icons">
                    <li>
                        <a href="https://github.com/Robin-2407" aria-label="GitHub" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path
                                    d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                </path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/robinsukhdeve/" aria-label="LinkedIn" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path
                                    d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z">
                                </path>
                                <rect x="2" y="9" width="4" height="12"></rect>
                                <circle cx="4" cy="4" r="2"></circle>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://leetcode.com/u/robin2407/" aria-label="leetcode" target="_blank">
                            <svg width="25" height="25" viewBox="0 0 27 27" xmlns="http://www.w3.org/2000/svg"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path
                                    d="M16.102 17.93l-2.697 2.607c-.466.467-1.111.662-1.823.662s-1.357-.195-1.824-.662l-4.332-4.363c-.467-.467-.702-1.15-.702-1.863s.235-1.357.702-1.824l4.319-4.38c.467-.467 1.125-.645 1.837-.645s1.357.195 1.823.662l2.697 2.606c.514.515 1.365.497 1.9-.038.535-.536.553-1.387.039-1.901l-2.609-2.636a5.055 5.055 0 0 0-2.445-1.337l2.467-2.503c.516-.514.498-1.366-.037-1.901-.535-.535-1.387-.552-1.902-.038l-10.1 10.101c-.981.982-1.494 2.337-1.494 3.835 0 1.498.513 2.895 1.494 3.875l4.347 4.361c.981.979 2.337 1.452 3.834 1.452s2.853-.512 3.835-1.494l2.609-2.637c.514-.514.496-1.365-.039-1.9s-1.386-.553-1.899-.039zM20.811 13.01H10.666c-.702 0-1.27.604-1.27 1.346s.568 1.346 1.27 1.346h10.145c.701 0 1.27-.604 1.27-1.346s-.569-1.346-1.27-1.346z" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" aria-label="Instagram">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" fill="none">
                                <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                            </svg>
                        </a>
                    </li>
                </ul>

                <p>
                    Explore and learn data structures and algorithms through interactive visualizations. Perfect for
                    students, developers, and anyone interested in understanding the fundamentals of computer science.
                    Join our community and enhance your problem-solving skills!
                </p>
            </div>

            <div class="copyright">
                <p>© 2024 VizAlgoFlow. All rights reserved. Designed with ❤️ by <a href="#">Robin Sukhdeve</a></p>
            </div>
        </footer>

    </body>

    </html>