@import url(/styles/variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  z-index: var(--z-tooltip);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-surface);
  padding: var(--spacing-4);
  border-bottom: 1px solid var(--color-border);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo a {
  font-family: var(--font-heading);
  font-size: var(--text-3xl);
  color: var(--color-text-primary);
  font-weight: var(--font-medium);
  text-decoration: none;
}

.operations a {
  margin-left: var(--spacing-6);
  font-family: var(--font-main);
  font-size: var(--text-lg);
  color: var(--color-text-primary);
  text-decoration: none;
  padding: var(--spacing-0) var(--spacing-2);
  border-radius: var(--spacing-1);
  border: 2px solid transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#theme-switch {
  height: 40px;
  width: 40px;
  padding: 0;
  border: 0.5px solid var(--color-secondary);
  border-radius: 50%;
  background-color: var(--color-primary-50);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 15px;
  right: 15px;
}

#theme-switch svg {
  fill: var(--color-text-secondary);
}

#theme-switch svg:last-child {
  display: none;
}
.darkmode #theme-switch svg:first-child {
  display: none;
}
.darkmode #theme-switch svg:last-child {
  display: block;
}

.operations a {
  position: relative;
  text-decoration: none;
  font-family: var(--font-main);
  color: var(--color-text-secondary);
  font-size: var(--text-lg);
  padding: var(--spacing-0) var(--spacing-2);
}

.operations a:after {
  content: "";
  position: absolute;
  background-color: var(--color-primary);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.operations a:hover {
  color: var(--color-text-primary);
  font-weight: var(--font-medium);
}

.operations a:hover:after {
  width: 100%;
  color: var(--color-text-primary);
}

.operations a.active:after {
  width: 100%;
  background-color: var(--color-primary);
}
