@import url(/styles/variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  z-index: var(--z-tooltip);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-surface);
  padding: var(--spacing-4);
  border-bottom: 1px solid var(--color-border);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: var(--spacing-3);
}

.logo a {
  font-family: var(--font-heading);
  font-size: var(--text-2xl);
  color: var(--color-text-primary);
  font-weight: var(--font-medium);
  text-decoration: none;
}

.operations {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.operations a {
  margin-left: var(--spacing-6);
  font-family: var(--font-main);
  font-size: var(--text-lg);
  font-weight: var(--font-normal);
  color: var(--color-text-secondary);
  text-decoration: none;
  padding: var(--spacing-0) var(--spacing-1);
  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.operations a:after {
  content: "";
  position: absolute;
  background-color: var(--color-primary);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -6px;
  transition: 0.2s;
}

.operations a:hover {
  color: var(--color-text-primary);
  font-weight: var(--font-medium);
}

.operations a:hover:after {
  width: 100%;
  color: var(--color-text-primary);
}

.operations a.active {
  color: var(--color-text-primary);
}

.operations a.active:after {
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-text-primary);
}

#theme-switch {
  height: var(--spacing-9);
  width: var(--spacing-9);
  padding: 0;
  border: 0.5px solid var(--color-secondary);
  border-radius: 50%;
  background-color: var(--color-primary-50);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0.4rem;
  right: var(--spacing-3);
}

#theme-switch svg {
  fill: var(--color-text-secondary);
}

#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}

.darkmode #theme-switch svg:last-child {
  display: block;
}

.dropdown-menu {
  min-width: 150px;
  left: 15px;
}

.dropdown-item {
  font-size: var(--text-base);
  color: var(--color-text-primary);
}

.dropdown-item:hover {
  background-color: var(--color-primary-100);
  color: var(--color-primary);
}

.darkmode .dropdown-menu {
  background-color: var(--color-surface); /* Set background color */
  border-color: var(--color-border); /* Set border color */
}

.darkmode .dropdown-item {
  color: var(--color-text-secondary); /* Set text color */
}

.darkmode .dropdown-item:hover {
  background-color: var(--color-primary-200); /* Set hover color */
  color: var(--color-text-primary); /* Change text color on hover */
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  .logo-container {
    text-align: center;
  }

  .logo a {
    font-size: var(--text-xl);
  }

  .dropdown-toggle{
    width: auto;
  }

  .dropdown-menu {
    background-color: #333; /* Adjust colors for dark mode or visibility */
  }

  /* Example: Stack elements vertically */
  .navbar .operations {
    flex-direction: column;
    align-items: center;
  }

  /* Add more styles as needed */
}
